Source: byte-rpc-cron
Section: admin
Priority: optional
Maintainer: Allard Hoeve <allard@byte.nl>
Uploaders: Maarten van Schaik <maarten@byte.nl>
Standards-Version: 3.9.3
Build-Depends:
    debhelper (>= 8),
    libpam0g-dev,
    libselinux1-dev [linux-any],
    libaudit-dev [linux-any]

Package: byte-rpc-crontab
Architecture: any
Pre-Depends:
    dpkg (>= 1.15.7.2)
Depends:
    ${shlibs:Depends},
    ${misc:Depends},
    debianutils (>= 1.7),
    adduser,
    lsb-base (>= 3.0-10),
    libpam-runtime (>= 1.0.1-11)
Recommends:
    exim4 | postfix | mail-transport-agent
Suggests:
    anacron (>=2.0-1),
    logrotate,
    checksecurity
Breaks:
    dpkg (<< 1.15.4)
Description: crontab modified to run on Byte appservers
 This crontab modification allows RPC calls to act on crontab files.
